<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">   
   <script src="{{ url_for('static', filename='js/common.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/main.js') }}"></script>
   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap5.1.1.css') }}"> 
   <script src="{{ url_for('static', filename='js/bootstrap5.1.1.js') }}"></script> 
   <title>{% block title %}{% endblock %}</title>
</head>
<body>
   <div class="navbar navbar-expand navbar-dark bg-dark">
         <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"> </span>
         </button>
      <div class="collapse navbar-collpase" id="navbar">
         <div class="navbar-nav">
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
            <a class="nav-item nav-link" id="signUp" href="/signUp">Sign Up</a>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
            <a class="nav-item nav-link" id="home" href="/">Home</a>
         </div>
      </div>
   </div>

   {% with messages = get_flashed_messages(with_categories=true) %} 
      {% if messages %} 
         {% for category, message in messages %} 
            {% if category == 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
               {{ message }}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
               </button>
            </div>
            {% elif category == 'relogin' %}
            <div class="alert alert-warning alter-dismissable fade show" role="alert">
               {{ message }}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
               </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
               {{ message }}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
               </button>
            </div>
            {% endif %} 
         {% endfor %}
      {% endif %}
   {% endwith %}

   <div class="container mt-2">
      {% block content %}{% endblock %}
   </div>


   
</body>
</html>