<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">   
   <script src="{{ url_for('static', filename='js/common.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/main.js') }}"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap5.1.1.css') }}">
   <script src="{{ url_for('static', filename='js/bootstrap5.1.1.js') }}"></script>
   <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% set leftMenu=session['leftMenu'] %} 
  {% set menu_list = leftMenu|toJson() %}
  <div class="left_side">
    <div class="flex-shrink-0 p-1 bg-white ">
      <a href="{{ url_for('app_login.home') }}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-5 fw-semibold">Collapsible</span>
      </a>
      <ul class="list-unstyled ps-0" id="left_menu">
        
        {% for menu in menu_list %}
        <li class="mb-1">
          {% if menu.level==1 %}
          {% set main_code = menu.code %}
          <button class="btn btn-toggle align-items-center rounded collapsed left_menu_btn" data-bs-toggle="collapse" data-bs-target="#{{ main_code }}-collapse" aria-expanded="true">
              {{ menu.name }}
          </button>
          {% endif %}
          <div class="collapse rounded-3 bg-gary left_menu_method" id="{{ main_code }}-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              {% for menu2 in menu_list %}
              {% if menu2.level==2 and menu2.parent==menu.id %}
                <li class="py-1"><a href="{{ menu2.path }}" class="link-dark rounded ps-4 text-decoration-none">{{ menu2.name }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endfor %}
        <li class="mb-1">
          <button class="btn btn-toggle align-items-center rounded collapsed left_menu_btn" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            Dashboard
          </button>
          <div class="collapse bg-gary left_menu_method" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark rounded">Overview</a></li>
              <li><a href="#" class="link-dark rounded">Weekly</a></li>
              <li><a href="#" class="link-dark rounded">Monthly</a></li>
              <li><a href="#" class="link-dark rounded">Annually</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

   <!-- right side Start -->
   <div class="right_side">
      <div class="navbar navbar-expand navbar-dark bg-dark">
            <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
               <span class="navbar-toggler-icon"> </span>
            </button>
         <div class="collapse navbar-collpase" id="navbar">
            <div class="navbar-nav">
               <!-- <a class="nav-item nav-link" id="login" href="/login">Login</a> -->
               <!-- <a class="nav-item nav-link" id="signUp" href="/signUp">Sign Up</a> -->
               <a class="nav-item nav-link" id="logout" href="{{ url_for('app_login.logout') }}">Logout</a>
               <a class="nav-item nav-link" id="home" href="{{ url_for('app_login.login') }}">Home</a>
            </div>
         </div>
      </div>

      <div class="container c_content">
         {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
               {% for category, message in messages %} 
                  {% if category == 'error' %}
                  <div class="alert alert-danger alter-dismissable fade show" role="alert">
                     {{ message }}
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                     </button>
                  </div>
                  {% elif category == 'relogin' %}
                  <div class="alert alert-warning alter-dismissable fade show" role="alert">
                     {{ message }}
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                     </button>
                  </div>
                  {% else %}
                  <div class="alert alert-success alter-dismissable fade show" role="alert">
                     {{ message }}
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                     </button>
                  </div>
                  {% endif %} 
               {% endfor %}
            {% endif %}
         {% endwith %}
         {% block content %}
         <h1>base  ss</h1>
         {% if left_menu_list|length > 0 %}
         <p>{{left_menu_list}} is not None</p>
         {% set myset=left_menu_list %}
         <p>{{myset}} is not None</p>

         {% endif %}
         {% endblock %}
      </div>

   </div>
   <!-- right side End -->

   
</body>
</html>