<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body class="page-bg">          
    <div class="container">
        <div class="d-flex flex-column">
            <div class="p-2 rows">
                <p>nav bar</p>
            </div>

            <div class="bg-w border-radius container-body">
                <div class="tc">
                    <div class="row-group">
                        <span>帳號 : </span><input class="" type="text" id="account"/>
                    </div>
                    <div class="row-group">
                        <span>密碼 : </span><input class="" type="text" id="password"/>
                    </div>
                </div>
                <div class="tc">
                    <div class="row-group">
                        <button id="loginBtn">登入</button> 
                    </div>
                </div>
            </div>


        </div>
    </div>    
</body>
</html>