<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/qprd.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head> -->

{% extends "base.html" %}

{% block script %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rolo.css') }}">
{% endblock %}

{% block title %} qpage {% endblock %}


{% block content %}
    <div class="container">
        <div class="d-flex flex-column ">
            <form method="GET" action="{{ url_for('app_rolo.home') }}">
                <div class="bg-w border-radius container-body">
                    <div class="rows">
                        <div class="row-group">
                            <span>帳號 : </span><input class="" type="text" id="userName" name="userName" value="{{ condition.user_name or '' }}"/>
                        </div>
                        <div class="row-group">
                            <span>狀態 : </span>
                            <select id="status" name="status">
                                <option value="" {{ "selected" if condition.status == '' }}>全部</option>
                                <option value="1" {{ "selected" if condition.status == '1' }}>暫停</option>
                                <option value="0"{{ "selected" if condition.status == '0' }} >啟動</option>
                            </select>
                        </div>
                    </div>
                    <div class="rows">
                        
                        <div class="row-group">
                            <span>角色 : </span>
                            <select id="roloId" name="roloId">
                                <option value=""></option>
                                {% for rolo in rolo_list %}
                                <option value="{{ rolo.id }}" {{ "selected" if condition.auth == rolo.id|string }}>{{ rolo.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="rows">
                        <div class="row-group text-right">
                            <button id="queryBtn">查詢</button> 
                        </div>
                    </div>
                </div>
            </form>

            <div class="bg-w border-radius container-body">
            
            <button id="updata">修改</button>

            <div class="table-result stichkyTable scrollbar-primary">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">帳號</th>
                        <th scope="col">信箱</th>
                        <th scope="col">狀態</th>
                        <th scope="col">權限</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if user_list|length == 0 %}
                        <tr>
                            <td colspan="5"><label class="t-gray">No Data</label></td>
                        </tr>
                        {% endif %}
                        
                        {% for user in user_list %}
                        <tr>
                            <td scope="row">{{ loop.index }}</td>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input position-relative start-20" 
                                    type="checkbox" 
                                    value="{{ user.user_name }}"
                                    name="user_checkbox"/>
                                    <label class="form-check-label" for="user_checkbox">
                                        {{ user.user_name }}
                                    </label>
                                </div>
                                </td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.status|getUserStatus() }}</td>
                            <td>{{ user.rolo_id|getRoloName(rolo_list) or '-' }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            </div>
            



        </div>

    </div>

{% endblock %}